

.navbar {
    background: linear-gradient(90deg, rgba(115,9,121,1) 35%, rgba(229,0,255,1) 100%);
    color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.navbar-brand {
    font-size: 4ch;
}

.header-meme-icon {
    width: 150px;
}

.header-par {
    font-size: 25px;
}

.form-div {
    padding: 10px;
}

.meme-input {
    margin: 20px; 
    padding: 20px;
    border-radius: 10px;
}

.meme-button {
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    margin: 30px 0px;
    background: linear-gradient(90deg, rgba(115,9,121,1) 35%, rgba(229,0,255,1) 100%);
    color: white;
}

.meme-image {
    max-width: 100%;
}

.meme-image-wrapper{
    position: relative;
    color: white;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Anton', sans-serif;
    text-shadow: 4px 4px black;
    font-weight: bold;
}

.meme-image-first{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meme-image-second{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}