.navigation-container{
    width: 100%;
    height: 80%;
    display: flex;

    .nav-link{
        width: 50%;
        height: 100%;
        justify-content: space-between;
        margin: auto;
        border: 5px solid grey;
        text-decoration: none;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: rgb(53, 26, 204);
        border-radius: 20px;
        padding: 10px;
        
        
        &:hover{
            opacity: 0.3;
            background-color: grey;
        }

        img{
           width: 100%;
           height: 100%;
           
        }


    }
}